.charts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.chart-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    /* Asegura que los hijos se estiren (misma altura) */
    gap: 20px;
    background-color: #efefef;
    border: 3px solid #2c3e50;
    padding: 30px 20px;
    margin: 10px auto;
}

.chart-layout>* {
    flex: 1;
    /* Distribuye el espacio equitativamente */
    min-width: 200px;
    /* Evita que se hagan demasiado pequeños */
}

.chart-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

.chart-info {
    text-align: left;
    align-self: center;
}

/* Cuando el contenido se apila (por el wrap), centramos el texto */
@media (max-width: 545px) {

    /* Ajusta el breakpoint según tu necesidad */
    .chart-info {
        text-align: center;
    }
}

@media (max-width: 325px) {
    .chart-layout {
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        padding: 10px;
    }
}

.chart-title {
    color: #f48634;
    font-size: 18px;
    margin: 0;
}

.chart-subtitle {
    color: #2c3e50;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    color: #636566;
}