.simple-table {
    border: 1px solid #ddd;
}

.border-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.border-table {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.dynamic-table-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1000px;
}

.dynamic-table-search-container {
    padding: 12px;
    background-color: #f8f9fa;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-group {
    display: flex;
    gap: 8px;
}

#dynamic-table-search {
    padding: 12px 15px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
}

.search-button {
    padding: 0 15px;
    background-color: #f48634;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}

.search-button:hover {
    background-color: #c46d2a;
}

.dynamic-table {
    overflow: auto;
    flex-grow: 1;
    border-radius: 5px;
    max-height: calc(46px * 8);
}

.dynamic-cargue-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    text-align: center;
}

.dynamic-cargue-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.dynamic-cargue-table th {
    background-color: #f48634;
    color: white;
    font-weight: bold;
    /*padding: 0 12px;*/
    height: 46px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.dynamic-cargue-table th:hover {
    background-color: #c46d2a;
}

.dynamic-cargue-table td {
    padding: 0 12px;
    height: 46px;
    white-space: nowrap;
    background-color: white;
}

.dynamic-cargue-table tbody {
    overflow: auto;
}

.dynamic-cargue-table tbody tr {
    cursor: pointer;
}

.dynamic-cargue-table tbody tr:last-child td {
    border-bottom: none;
}

.dynamic-table-sort-icon {
    font-family: "Font Awesome 6 Free";
    margin-left: 5px;
}

.dynamic-table-sort-icon[data-sort="asc"] {
    content: "\f062";
    /* Flecha hacia arriba */
    opacity: 1;
}

.dynamic-table-sort-icon[data-sort="desc"] {
    content: "\f063";
    /* Flecha hacia abajo */
    opacity: 1;
}

.dynamic-cargue-table tbody tr:nth-child(odd) td {
    background-color: #ffffff;
    /* Blanco puro */
}

.dynamic-cargue-table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
    /* Gris más claro */
}

.dynamic-cargue-table tbody tr:hover td {
    background-color: #d4d4d4;
    /* Gris para hover */
}

.dynamic-cargue-table th.columna-estado,
.dynamic-cargue-table td.dynamic-table-estado {
    padding: 0 !important;
    width: 10px;
    min-width: 16px;
    max-width: 16px;
}

.dynamic-table-estado {
    box-sizing: border-box;
    padding: 0;
    width: 10px;
    border-left: 8px solid transparent;
}

.dynamic-table-estado.estado-en-progreso {
    border-left-color: #f48634;
}

.dynamic-table-estado.estado-completado {
    border-left-color: #24c75d; 
}

.dynamic-table-estado.estado-pendiente {
    border-left-color: transparent;
}