<div class="contenedor-calendario">
    <div class="calendario-container">
        <div class="calendario-header">
            <button id="prev-month"><i class="fa-solid fa-arrow-left"></i></button>
            <h2 id="mes-actual">Mes Actual</h2>
            <button id="next-month"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="calendario-grid" id="calendario">
        </div>
    </div>
    <div class="actividades-container">
        <h3 id="dia-seleccionado">Selecciona un día</h3>
        <div class="lista-actividades" id="lista-actividades">
        </div>
    </div>
</div>