<div class="dynamic-table-container">
    <div class="dynamic-table-search-container">
        <div class="search-group">
            <input type="text" id="dynamic-table-search" placeholder="Buscar en la tabla...">
            <button id="dynamic-table-search-button" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <button id="add-button" class="search-button">
            <i class="fa-solid fa-plus"></i> Agregar
        </button>
    </div>

    <div class="dynamic-table">
        <table class="dynamic-cargue-table">
            <thead>
                <tr>
                    <th data-sort="id">ID</th>
                    <th data-sort="placa">Placa</th>
                    <th data-sort="tipo">Tipo de cami칩n</th>
                    <th data-sort="material">Material</th>
                    <th data-sort="cantidad">Cantidad</th>
                    <th data-sort="inicio-prog">Inicio Prog.</th>
                    <th data-sort="fin-prog">Fin Prog.</th>
                    <th data-sort="estado">Estado</th>
                    <th data-sort="observacion">Observaci칩n</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenar치n din치micamente con JavaScript -->
            </tbody>
        </table>
    </div>
</div>