<div class="dynamic-table-container border-container">
    <div class="dynamic-table-search-container">
        <div class="search-group">
            <input type="text" id="dynamic-table-search" placeholder="Buscar en la tabla...">
            <button id="dynamic-table-search-button" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <button id="add-button" class="search-button">
            <i class="fa-solid fa-plus"></i> Agregar
        </button>
    </div>

    <div class="dynamic-table">
        <table class="cargue-table dynamic-cargue-table">
            <thead>
                <tr>
                    <th class="columna-estado"></th>
                    <th data-sort="id">ID</th>
                    <th data-sort="placa">Placa</th>
                    <th data-sort="conductor">Conductor</th>
                    <th data-sort="material">Material</th>
                    <th data-sort="cantidad">Cantidad</th>
                    <th data-sort="cliente">Cliente</th>
                    <th data-sort="fecha_inicio_programada">Fecha</th>
                    <th>Inicio Prog.</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenarán dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
</div>