<div class="dynamic-table-container border-container">
    <div class="dynamic-table-search-container">
        <div class="search-group">
            <input type="text" id="dynamic-table-search" placeholder="Buscar en la tabla...">
            <button id="dynamic-table-search-button" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        {{#if addButtonUrl}}
            <button id="add-button" class="search-button" onclick="window.location.href = '{{addButtonUrl}}'">
                <i class="fa-solid fa-plus"></i> Agregar
            </button>
        {{else if showAddButton}}
            <button id="add-button" class="search-button">
                <i class="fa-solid fa-plus"></i> Agregar
            </button>
        {{/if}}
    </div>

    <div class="dynamic-table">
        <table class="cargue-table dynamic-cargue-table">
            <thead>
                <tr>
                    {{#each headers}}
                        <th 
                            {{#if isEstado}}class="columna-estado"{{/if}}
                            {{#if sortField}}data-sort="{{sortField}}"{{/if}}
                        >
                            {{#unless isEstado}}{{title}}{{/unless}}
                        </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenarán dinámicamente con JavaScript -->
            </tbody>
        </table>
    </div>
</div>