<header class="header">
    <!-- Logo y nombre de empresa (izquierda) -->
    <div class="header__logo">
        <a href="/admin/inicio" class="header__logo-link">
            <img src="/img/logo.png" alt="MINMETAL Logo" class="header__logo-img">
        </a>

        <div class="header__company">
            <span class="header__company-name">MINMETAL</span>
            <span class="header__company-tagline">MINERAL & METAL RESOURCES</span>
        </div>
    </div>


    <!-- Menú de usuario (derecha) -->
    <div class="header__user">
        <span class="header__user-name">{{user.nombre}}</span>
        <div class="header__user-menu">
            <a href="#" onclick="if(confirm('¿Estás seguro que deseas cerrar sesión?')) { window.location.href='/logout'; }"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>
        </div>
    </div>
</header>