<header class="header">
    <!-- Logo y nombre de empresa (izquierda) -->
    <div class="header__logo">
        <a href="/admin/inicio" class="header__logo-link">
            <img src="/img/logo.png" alt="MINMETAL Logo" class="header__logo-img">
        </a>

        <div class="header__company">
            <span class="header__company-name">MINMETAL</span>
            <span class="header__company-tagline">MINERAL & METAL RESOURCES</span>
        </div>
    </div>


    <!-- Menú de usuario (derecha) -->
    <div class="header__user">
        <span class="header__user-name">{{user.nombre}}</span>
        <div class="header__user-menu">
            <div class="header__profile-img-container">
                <img src="/img/generic-profile.png" class="header__profile-img">
            </div>
            <div class="header__dropdown-content">
                <a href="/perfil"><i class="fas fa-user"></i> Ver Perfil</a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>