<nav class="sidebar">
    <ul class="sidebar-menu">
        {{#if (eq user.codigo_rol "ROL001")}}
        <li class="sidebar-item">
            <a href="/admin/inicio" class="sidebar-link">
                <i class="fa-solid fa-house sidebar-icon"></i>
                <span class="sidebar-text">Inicio</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/calendario-admin" class="sidebar-link">
                <i class="fas fa-calendar-alt sidebar-icon"></i>
                <span class="sidebar-text">Calendario</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/registro" class="sidebar-link">
                <i class="fas fa-clipboard-list sidebar-icon"></i>
                <span class="sidebar-text">Registro</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/reporte" class="sidebar-link">
                <i class="fas fa-chart-bar sidebar-icon"></i>
                <span class="sidebar-text">Reporte</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/camiones" class="sidebar-link">
                <i class="fas fa-truck sidebar-icon"></i>
                <span class="sidebar-text">Camiones</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/materiales" class="sidebar-link">
                <i class="fas fa-solid fa-cubes sidebar-icon"></i>
                <span class="sidebar-text">Materiales</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/clientes" class="sidebar-link">
                <i class="fas fa-users sidebar-icon"></i>
                <span class="sidebar-text">Clientes</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/usuarios" class="sidebar-link">
                <i class="fas fa-user-cog sidebar-icon"></i>
                <span class="sidebar-text">Usuarios</span>
            </a>
        </li>
        {{/if}}

        {{#if (eq user.codigo_rol "ROL002")}}
        {{!-- Opciones para CONDUCTOR --}}
        <li class="sidebar-item">
            <a href="/conductor/calendario" class="sidebar-link">
                <i class="fas fa-calendar-alt sidebar-icon"></i>
                <span class="sidebar-text">Calendario</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/conductor/historial" class="sidebar-link">
                <i class="fas fa-history sidebar-icon"></i>
                <span class="sidebar-text">Historial</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/conductor/incidentes" class="sidebar-link">
                <i class="fas fa-exclamation-triangle sidebar-icon"></i>
                <span class="sidebar-text">Incidentes</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>