<div class="chart-layout">

    <div class="chart-info">
        <h5 class="chart-title">{{title}}</h5>
        <p class="chart-subtitle">{{subtitle}}</p>
    </div>

    <div class="chart-panel">
        <div class="chart mx-auto" data-percent="{{percent}}">
            <span class="percent">{{percent}}%</span>
        </div>
    </div>

</div>