<div class="progress-chart-container">
    <h3>PROGRAMACIÓN</h3>
    <p>Cargues del Día</p>

    <div class="chart" data-percent="50">
        <span class="percent">86</span>
    </div>

    <p class="chart-label">Proceso Actual</p>
</div>