<div class="dynamic-table-container">
    <h4>{{tableTitle}}</h4>

    <div class="dynamic-table border-table">
        <table class="cargue-table simple-table">
            <thead>
                <tr>
                    {{#each headers}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each rows}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/simplyTable.js"></script>