<div class="calendario-page-container mt-4">
    {{> calendario}}

    {{> dynamicTable headers=tableHeaders showAddButton=true addButtonUrl=addButtonUrl}}
</div>

<script>
    window.carguesCalendario = {{{carguesCalendario}}};
</script>

<link rel="stylesheet" href="/css/components/tables.css">
<link rel="stylesheet" href="/css/components/calendario.css">

<script src="/js/calendario.js" type="module"></script>
<script src="/js/dynamicTable.js"></script>

