<div class="calendario-page-container mt-4">
    {{> calendario}}

    {{> dynamicTable}}
</div>

<script>
    window.carguesCalendario = {{{carguesCalendario}}};
    console.log(window.carguesCalendario);
</script>