<div class="calendario-page-container mt-4">
    {{> calendario}}

    {{> dynamicTable}}
</div>

<script>
    window.carguesCalendario = {{{carguesCalendario}}};
</script>

<script src="/js/calendario.js" type="module"></script>
<script src="/js/dynamicTable.js"></script>