<h2>Lista de Camiones</h2>

{{> dynamicTable headers=tableHeaders showAddButton=true addButtonUrl=addButtonUrl}}

<script>
    window.trucksData = {{{trucksData}}};
</script>

<link rel="stylesheet" href="/css/components/tables.css">
<script src="/js/dynamicTable.js"></script>