<h2>Lista de Clientes</h2>

{{> dynamicTable headers=tableHeaders showAddButton=true addButtonUrl=addButtonUrl}}

<script>
    window.clientsData = {{{clientsData}}};
</script>

<link rel="stylesheet" href="/css/components/tables.css">
<script src="/js/dynamicTable.js"></script>