<div class="container mt-4">

    <h2>Panel Administrativo</h2>

    <div class="charts-container">

        {{> progressChart
        title="PROGRAMACIÓN"
        subtitle="Cargues del Día"
        percent=progress
        label="Proceso Actual"
        }}

        {{> progressChart
        title="DISPONIBILIDAD"
        subtitle="Camiones en Uso"
        percent=truckUsage
        label="Proceso Actual"
        }}

    </div>


    {{> simpleTable tableTitle="Cargues en Curso" headers=currentData.headers rows=currentData.rows}}

    {{> simpleTable tableTitle="Cargues Próximos" headers=nextData.headers rows=nextData.rows}}

</div>