<div class="container mt-4">
    <h2>Panel Administrativo</h2>

    <div class="charts-container">

        {{> progressChart
        title="PROGRAMACIÓN"
        subtitle="Cargues del Día"
        percent="65"
        label="Proceso Actual"
        }}

        {{> progressChart
        title="DISPONIBILIDAD"
        subtitle="Camiones en Uso"
        percent="45"
        label="Proceso Actual"
        }}

    </div>

    <h4>Cargues en Curso</h4>
    {{> simpleTable headers=currentData.headers rows=currentData.rows}}

    <h4>Cargues Proximos</h4>
    {{> simpleTable headers=nextData.headers rows=nextData.rows}}

</div>